@page "/contractors"

<PopUp Title="@popUpTitle">
    <FromContent>
        <EditForm class="input-form" Model="request" OnSubmit="HandelFormAction">
            @if (@popUpTitle != "حذف مقاول")
            {
                <div class="form-group col-12">
                    <label class="text-light m-1" for="Name">اسم المقاول</label>
                    <InputText @bind-Value="request.Name" class="form-control m-1" id="Name" placeholder="اسم المقاول" />
                </div>
                <div class="form-group col-12 m-1">
                    <label class="text-light m-1" for="NationalId">الرقم القومي</label>
                    <InputText @bind-Value="request.NationalId" class="form-control m-1" id="NationalId" placeholder="الرقم القومي" />
                </div>
                <div class="form-group col-12 m-1">
                    <label class="text-light m-1" for="WareType">البند</label>
                    <InputSelect @bind-Value="request.WareTypeId" class="form-control m-1" id="WareType" placeholder="البند">
                        @foreach (var ware in wareTypes)
                        {
                            <option value="@ware.Id">@ware.Name</option>
                        }
                    </InputSelect>
                </div>
                <style>
                    .input-form {
                        display: flex;
                        justify-content: end;
                        flex-direction: column;
                        width: 80%;
                    }

                    .form-group {
                        display: flex;
                        flex-direction: column;
                        align-items: end;
                    }

                    .form-control {
                        direction: rtl;
                    }
                </style>
            }
            else
            {
                <div class="form-group col-12">
                    <h3 class="text-light m-4 text-center" for="inputName">هل انت متاكد انك تريد حذف المقاول</h3>
                </div>
            }
            <div class="form-button" style="display: flex; width: 100%; align-items: center; justify-content: center;padding-top: 5px;">
                <button type="submit" class="btn btn-primary">@popUpTitle</button>
            </div>
        </EditForm>
    </FromContent>
</PopUp>

<div class="container">


    <table class="table text-light text-center small-screen">
        <thead>
            <tr>
                <th scope="col" class="text-center ">
                    <span class="material-symbols-outlined btn" @onclick="TogglePopUpVisibilityForCreate">
                        add
                    </span>
                </th>
                <th scope="col" class="text-center" style="width:10px">#</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contractor in contractors)
            {
                <tr class="text-center">
                    <td>
                        <Collapsable Collapsed="true" Value="@contractor.Name">
                            <table class="table text-light text-center">
                                <tbody>
                                    <tr>
                                        <td class="text-center" style="width:10px;">
                                            <span class="material-symbols-outlined btn delete" @onclick="(()=>TogglePopUpVisibilityForDelete(contractor.Id))">
                                                delete
                                            </span>
                                        </td>
                                        <td class="text-center" style="width:10px;">
                                            <span class="material-symbols-outlined btn" @onclick="(()=>TogglePopUpVisibilityForEdit(contractor))">
                                                edit
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">@contractor.NationalId</td>
                                        <th scope="col" class="text-center">الرقم المقومي</th>
                                    </tr>
                                    <tr>
                                        <td class="text-center">@contractor.WareType!.Name</td>
                                        <th scope="col" class="text-center">البند</th>
                                    </tr>
                                </tbody>
                            </table>
                        </Collapsable>
                    </td>
                    <th scope="row" class="text-center">@((contractors.IndexOf(contractor)) + 1)</th>
                </tr>
            }
        </tbody>
    </table>
</div>